<div class="container">
    <section class="row">

      <div class="col-sm">
        <p>
          <%= image_tag current_user.gravatar_url, class: " gravatar rounded-circle mx-auto small_avatar" %>
          &nbsp;
          <% if current_user %>
            <b><br><br>Hello (<%= current_user.email %>!) Welcome to your Personal SPACE! <hr></b>
          <% else %>
            <u><b><%= @user.email %>'s profile</b></u>
          <% end %>
        </p>
      </div>

      <div class="col-sm"> 
        <div class=" bg-white px-3 py-3 friends">
          <h3><%= link_to 'Your Are Friends With:', '#' %> </h3>
          <br>
          <% @user.friends.each do |friend|%>
          <ol>
            <li>
              <%= friend.email %>
            </li>
          </ol>
          <%end%>
        </div>
      </div>

    </section>
</div>

