<% if user_signed_in? %>
  <p>
    Logged in as:
    (@<%= current_user.email %>)
  </p>
  <br>
  <b><h2>CREATED ARTICLES:</h2></b>
  <div>
  <ol>
    <div>
      <% @posts.each do |post| %>
        <div>
          <li>
            <p>
              by: <%= link_to post.user.email, 
              user_path(post.user) %>
              On: <span class='post-date'> 
              <%= post.created_at.strftime("%Y/%m/%d") %>
            </p>
            <u><i><h6><%= post.title.upcase %></h6></i></u>
            <%= post.content %>
            <br><br>
            <button class="btn btn-block btn-warning">
              <i class="fa fa-thumbs-up"></i><b><%= like_or_dislike_btn(post) %></b>
            </button>
            <br><br>
          </li>
        </div>
        <div>
          <% post.comments.each do |comment| %>
            <div>
              <p class="col-lg-12">
                <i><%= link_to post.user.email, user_path(post.user) %></i> 
                commented on this, on: <b>"<%= comment.created_at.strftime("%Y/%m/%d") %>"</b>
                <br>
                <b> <%= comment.content %> </b>
                <hr>     
              </p>
            </div>
          <% end %>

          <%= form_for(post.comments.new, url: post_comments_path(post)) do |form| %>
            <%= form.text_field :content, id: :comment_content, class: 'form-control', placeholder: 'Add new Comment' %>
            <br>
            <%= form.submit 'Comment', class: 'btn btn-secondary' %>
          <% end %>
          <hr>
        </div>
      <% end %>
    </div>
  </ol>
  <p> You can create your own posts down here"</p>
  <%= link_to 'Create Post', new_post_path, class: "btn btn-primary" %>
  <%= link_to 'Other users', users_path, class: 'btn btn-info' %>

<% else %>
  <h1 class="mt-5">Welcome to the facebook clone</h1>
  <p class="lead">Please register or sign in to continue.</p>
  <%= link_to 'Sign up',  new_user_registration_path, class: "btn btn-success" %>
  <%= link_to 'Sign in',  new_user_session_path, class: "btn btn-secondary" %>
<% end %>