<% if current_user %>
  <p>
    <%= current_user.email %>'s timeline:
  </p>
  <div class="container">
    <div class="col-sm">
      <div class="panel panel-default">
        <div class="panel-body">
          <% @posts.each do |post| %>
            <section class="post-heading">
              <div class="row">
                <div class="col-md-12">
                  <div class="media">
                    <div class="media-left">
                      <%= link_to image_tag(post.user.gravatar_url, 
                        class: "gravatar rounded-circle mx-auto small_avatar", 
                        :size => 35), user_path(post.user) %>
                    </div>
                    <div class="media-body">
                      <a class="anchor-username">
                        <h4 class="media-heading">
                          <%= link_to post.user.email, user_path(post.user) %>
                        </h4>
                      </a>
                      <a 
                        class="anchor-time"><%= link_to time_ago_in_words(post.created_at), 
                        post_path(post.user) %> ago
                      </a>
                    </div>
                  </div>
                </div>
                <div class="col-md-1">
                  <a href="#"><i class="glyphicon glyphicon-chevron-down"></i></a>
                </div>
              </div>             
            </section>
            <section class="post-body">
              <p>
                <%= post.content %>
              </p>
            </section>
            <section class="post-footer">
            <hr>
              <div class="post-footer-option container">
                <ul class="list-unstyled">
                  <li>
                    <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
                    <% pre_like = post.likes.find { |like| like.user_id == current_user.id} %>
                    <% if pre_like %>
                      <%= button_to 'Unlike', post_like_path(post, pre_like), method: :delete %>
                    <% else %>
                      <%= button_to 'Like', post_likes_path(post), method: :post %>
                    <% end %>
                  </li>
                  <li><a href="#"><i class="glyphicon glyphicon-thumbs-up"></i> Like</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-comment"></i> Comment</a></li>
                  <li><a href="#"><i class="glyphicon glyphicon-share-alt"></i> Share</a></li>
                <% end %>
                </ul>
              </div>
              <div class="post-footer-comment-wrapper">
                <div class="comment-form">
                
                </div>
                <div class="comment">
                  <div class="media">
                    <div class="media-left">
                      <a href="#">
                        <img class="media-object photo-profile" src="" width="32" height="32" alt="...">
                      </a>
                    </div>
                    <div class="media-body">
                      <a href="#" class="anchor-username"><h4 class="media-heading">Media heading</h4></a> 
                      <a href="#" class="anchor-time">51 mins</a>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          <% end %>
        </div>
      </div>   
    </div>
  </div>
<% else %>
  <h1 class="mt-5">Welcome to the facebook clone</h1>
  <p class="lead">Please register or sign in to continue.</p>
  <%= link_to 'Sign up',  new_user_registration_path, class: "btn btn-success" %>
  <%= link_to 'Sign in',  new_user_session_path, class: "btn btn-secondary" %>
<% end %>